---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url(/assets/fonts/SpoqaHanSansNeo-Regular.woff) format(woff),
       url(/assets/fonts/SpoqaHanSansNeo-Regular.woff2) format(woff),
       url(/assets/fonts/SpoqaHanSansNeo-Regular.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url(/assets/fonts/SpoqaHanSansNeo-Bold.woff) format(woff),
       url(/assets/fonts/SpoqaHanSansNeo-Bold.woff2) format(woff),
       url(/assets/fonts/SpoqaHanSansNeo-Bold.ttf) format(truetype);
  font-weight: 700;
  font-style: normal;
}